header {
  width: 100%;
  position: absolute;
  left: 0;
  background: #fff;
  border-bottom: 2px solid #555;
  font-size: 75%;
  font-family: Arial, sans-serif;
  line-height: 1.3em;
  letter-spacing: normal;
  word-spacing: normal;
}

img {
  max-width: 430px;
  height: auto;
  margin: 13px 0 13px 10%;

}

aside {
  height: 30px;
  background-color: #f1f1f1;
  width: 100%;
  padding: 0;
}

.header-utilities {
  float: right;
  position: relative;
  z-index: 110;
  clear: right;
  height: 30px;
  margin-right: 12%;
}

.header-utilities ul li {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 9px 0 0 0;
}

.top-nav {
  display: flex;
  justify-content: space-around;
  background-color: #46657f;
  list-style: none;
  border-width: 1px 0;
  font-size: 13.5px;
  padding-left: 15px;
  overflow: auto;
}

@media (max-width: 1245px) {
  .top-nav {
    display: none;
  }
}

.top-nav li {
  padding: 14px 29px 12px 0;
  float: left;
  font-weight: 400;
}

.top-nav li a {
  color: #fff;
  line-height: 1.5em;
  text-transform: uppercase;
}
