<header>
  <aside>
    <div class="header-utilities">
      <ul>
        <li>Home</li>
        <li>Help</li>
        <li>Log In</li>
        <li>Cart</li>

      </ul>
    </div>
  </aside>
  <div class="banner">
    <img src="../assets/img/logo.png" alt="The American Pyschological Association logo.">
  </div>
  <div class="top-nav">
    <div class="link-list">
      <li><a>About APA</a></li>
      <li><a>Topics</a></li>
      <li><a>Publications & Databases</a></li>
      <li><a>Psychology and Help Center</a></li>
      <li><a>News & Events</a></li>
      <li><a>Science</a></li>
      <li><a>Education</a></li>
      <li><a>Careers</a></li>
      <li><a>Membership</a></li>
    </div>
  </div>
</header>
