<div class="container">
  <div class="row">
    <div class="content-body-wrapper">
      <h1>APA Dictionary of Psychology</h1>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <form class="form-inline">
              <div class="input-group">
                <input class="form-control" placeholder="Search and select a Dictionary term">
                <button type="button" class="btn btn-secondary">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <p>More than 25,000 authoritative entries across 90 subfields of psychology.</p>
          </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <p class="subheading">Browse Dictionary</p>
            <div class="letters-wrapper">
              
              <div class="card letter">
                A
              </div>
      <!-- use *ngFor to duplicate for each Letter[] -->

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="sidebar-wrapper">
      <app-sidebar></app-sidebar>
    </div>

  </div>
</div>
