.letter {
  display: inline-block;
  justify-content: center;
  width: 34px;
  height: 34px;
  text-align: center;
  margin: .34em!important;
  background-color: #868e96!important;
  font-size: 1.44em!important;
  line-height: 34px;
  color: #fff!important;
  border-color: #868e96!important;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
}

.card {
  margin-top: 1rem;
}

h1 {
  font-family: Roboto, serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.1em;
  color: #444;
  padding: 0 0 .1em;
  margin: 1rem;
}
