<div clas="card-wrapper">
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        Also of Interest
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li><a href="#">Sample Link</a></li>
          <li><a href="#">Sample Link</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        Also of Interest
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li *ngFor="let eachArticle of articles"><a href="#">{{eachArticle.hook}}</a></li>
      <!-- use *ngFor to duplicate this  -->
        </ul>
      </div>
    </div>
  </div>


</div>
