<div class="card-deck">
  <div class="card">
    <div class="card-body" id="letters-container">
      <h3 class="subheading">Browse by {{ selectedLetter | uppercase }}</h3>
      <div class="containter">
        <div class="row">

          <div id="terms-list">
            <ul>
              <li><a>These are sample entries.</a></li>
              <li><a>{{ selectedLetter }}</a></li>
              <li><a>{{ selectedLetter }}</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
