<div class="container">
  <div class="row">
    <div class="content-body-wrapper">
      <h1>APA Dictionary of Psychology</h1>

      <app-search></app-search>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <p>More than 25,000 authoritative entries across 90 subfields of psychology.</p>
          </div>
        </div>
      </div>

      <!-- use *ngFor to duplicate for each Letter[] -->
      <app-letter-display></app-letter-display>
      <app-featured-term></app-featured-term>


    </div>

    <div class="sidebar-wrapper">
      <app-sidebar></app-sidebar>
    </div>

  </div>
</div>
