<div class="container">
  <div class="row">
    <div class="content-body-wrapper">
      <h1>APA Dictionary of Psychology</h1>

      <app-search></app-search>

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <p>More than 25,000 authoritative entries across 90 subfields of psychology.</p>
          </div>
        </div>
      </div>

      <!-- use *ngFor to duplicate for each Letter[] -->
      <app-letter-display></app-letter-display>


      <div class="card-deck">
        <div class="card">
          <div class="card-header">
            <small>October 19th, 2018</small>
            <!-- Hard-Coded  -->
            <br>
            Word of the Day
          </div>
          <img src="./../assets/img/hero.jpg" alt="An abstract drawing of a head, pastel color palette" class="card-img-top">
          <div class="card-body">
            <p>the view, now outmoded, that the brain consists of three layers reflecting its evolutionary development. The first and oldest is the archipallium, or R-complex (meaning reptilian complex and including the brainstem and cerebellum); the second is the paleomammalian system, or limbic system; and the most recently evolved is the neopallium, or neocortex, also known as the <strong>neomammalian brain</strong>. [proposed by U.S. physician and neuroscientist Paul D. MacLean (1913–2007)] </p>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-wrapper">
      <app-sidebar></app-sidebar>
    </div>

  </div>
</div>
