form {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.input-group {
  display: flex;
  align-items: stretch;
  width: 100%!important;
}

input {
    width: 100%;
}

button {
  background-color: #005499;
  border-color: #005499;
}
